header {
    height: 10vh;
    margin: 0 64px;
    display: flex;
    align-items: center;
    position: relative;

    @media screen and (max-width: 535px) {
        margin: 0 32px;
    }

    &::after {

        @media screen and (max-width: 935px) {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            background: url(../img/menu.png) center/cover;
            right: 0;
            cursor: pointer;
            top: 57%;
            transform: translateY(-50%);
            margin: 0 20px;
        }
    }

    img {
        width: 200px;
        cursor: pointer;
        margin-right: 30px;

        @media screen and (max-width: 535px) {
            width: 100px;
        }
    }

    nav {
        width: 40%;

        @media screen and (max-width: 935px) {
            display: none;
        }

        ul {
            display: flex;
            justify-content: space-between;

            li {
                font-family: $font1;
                font-size: 1.2vw;
                position: relative;
                top: 5px;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }
}